
.carrrito{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #ffffff;
}

    /* Alert styles */
    #alert {
        text-align: center;
        padding: 10px;
        border-radius: 4px;
    }

    .alert-success {
        background-color: #d4edda;
        color: #155724;
        border: 1px solid #c3e6cb;
    }

    .alert-danger {
        background-color: #f8d7da;
        color: #721c24;
        border: 1px solid #f5c6cb;
    }

    .alert-again {
        background-color: #fff481;
        color: rgb(180, 159, 40);
        border: 1px solid gold;
    }

footer{
    margin-top: 0px;
}

.cart-container {
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 15px;
    overflow-y: auto;
    max-height: 80%;
    text-align: center;
}

.cart-container h2 {
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.cart-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 4px;
}

.cart-item-info {
    flex-grow: 1;
    margin-left: 10px;
    text-align: left;
}

.cart-item-quantity {
    display: flex;
    align-items: center;
}

.cart-item-quantity input {
    width: 50px;
    margin-right: 10px;
    border-radius: 15px;
    text-align: center;
}

.remove-button {
    background-color: #ff5c5c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
    cursor: pointer;
}

.remove-button:hover {
    background-color: #f77d7d;
}

#checkout-button{
    background-color: #0d6efd;
    border-radius: 15px;
    color: white;
    border: none;
}