.containermisproductos {
    /* quiero que izquierda derecha y abajo tengan 20 y arriba tenga 25*/
    padding: 30px 20px 20px 20px;
}

.row {
    justify-content: space-between;
    display: flex;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 20px;
    text-align: center;

    margin-bottom: 10px;

    transition: box-shadow 0.3s ease;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.product-card:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.product-image {
    width: 100%;
    height: 150px;
    object-fit: contain;
    background-color: #ffffff;
    border-radius: 10px;
}

.product-category {
    font-size: 14px;
    color: #888;
}

.product-name {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

.product-price {
    font-size: 16px;
    color: #e74c3c;
    margin-bottom: 10px;
}

.edit-button {
    margin-left: 15px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #155724;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
}

.delete-button {
    margin-left: 15px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #721c24;
    border: none;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
}

.buy-button:hover {
    background-color: #0056b3;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination a {
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 15px;
    text-decoration: none;
}

.pagination a:hover {
    background-color: #f1f1f1;
}

.is_active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

@media (max-width: 768px) {
    .product-card {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .product-card {
        flex: 0 0 48%;
        max-width: 48%;
    }
}

@media (min-width: 993px) {
    .product-card {
        flex: 0 0 23%;
        max-width: 23%;
    }
}

.pagination {
    margin-top: 30px;
}

footer {
    margin-top: 60px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}