<!-- index.html -->
{% extends "base.html" %}

{% block content %}

<!-- estilos propios -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/comprar.css') }}">

<div class="page-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>Comprar</h3>
        <span class="breadcrumb"><a href="#">Home</a> > Comprar</span>
      </div>
    </div>
  </div>
</div>




<div class="comprar-container">
  <div class="comprar-left">
    <h4>Detalles del Comprador</h4>
    <form id="comprador-form">
      <div class="form-group">
        <label for="comprador-nombre">Nombre:</label>
        <input type="text" id="comprador-nombre" required>
      </div>
      <div class="form-group">
        <label for="comprador-apellido">Apellido:</label>
        <input type="text" id="comprador-apellido" required>
      </div>
      <div class="form-group">
        <label for="comprador-direccion">Dirección de Envío:</label>
        <input type="text" id="comprador-direccion" required>
      </div>
      <div class="form-group">
        <label for="comprador-dni">DNI:</label>
        <input type="number" id="comprador-dni" required min="8">
      </div>
    </form>
  </div>
  <div class="comprar-right">
    <h4>Resumen del Pedido</h4>
    <div class="resumen-boleta">
      <ul id="productos-carrito"></ul>
      <p><strong>Delivery:</strong> S/. 6.00</p>
      <p><strong>Total:</strong> S/. <span id="total-precio"></span></p>
    </div>
    <button id="comprar-button" disabled>Solicitar compra</button>
  </div>
</div>

<!-- scripts propips -->
<script src="{{ url_for('static', filename='js/comprar.js') }}"></script>

{% endblock %}