<!-- index.html -->
{% extends "base.html" %}

{% block content %}

<head>
  <!-- css propios -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/misproductos.css') }}">
</head>


<div class="page-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>Mis Productos</h3>
        <span class="breadcrumb"><a href="#">Home</a> > Mis Productos</span>
      </div>
    </div>
  </div>
</div>

<div class="containermisproductos">
  <div class="row" id="misproductos-container">
    <!-- Aquí se cargarán los productos del usuario logueado dinámicamente -->
  </div>
  <ul class="pagination">
    <!-- Aquí se agregarán los enlaces de paginación dinámicamente -->
  </ul>
</div>

<!-- Modal de confirmación -->
<div id="deleteModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>¿Estás seguro de que deseas eliminar este producto?</p>
    <button id="confirmDelete">Eliminar</button>
    <button id="cancelDelete">Cancelar</button>
  </div>
</div>

<!-- javascript propios -->
<script src="{{ url_for('static', filename='js/misproductos.js') }}"></script>

{% endblock %}